body{font-family: 'Stint Ultra Expanded', cursive;}
header{text-align: center;background-image: url(images/croissants_banner.jpg);background-size: cover;}
ul{list-style: none;}
a{color: #F9AB33;}
a:hover{color: #F9AB33;background-color: #608080;border-bottom-style: dotted;border-bottom-width: 1px;}
header nav{background-color: #783F27;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 0.8em;word-spacing: 0.3em;text-transform: uppercase;}
header p{font-style: italic;color: #FFFFFF;}
footer{background-color:  #783F27;color: #EADDC4;text-align: center;padding: 1em;}
div.main{color: #555555;border-color: #EADDC4;border-style: double;border-radius: 25px;margin: 2.5%;padding: 1em;}
h3{text-transform: uppercase;letter-spacing: 0.2em;color: #7A0002;border-top-width: 1px;border-top-style: solid;border-left-width: 3px;border-left-style: solid;padding-left: 1em;margin-top: 2.5em;}
div.hours{background-color:  #F6F3ED;margin: 2.5%;padding: 1em;border-color: #7A0002;border-style: solid;}
span.day{color: #783F27;font-family: Verdana, Geneva, Tahoma, sans-serif;}
